<!DOCTYPE html>
<html>
  <title>{{ page.title }} | {{ site.title }}</title>
  <script src='https://d3js.org/d3.v5.min.js'></script>
  <style> /* set the CSS */

    div.tooltip {	
        position: absolute;			
        text-align: center;			
        width: 60px;					
        height: 28px;					
        padding: 2px;				
        font: 12px sans-serif;		
        background: lightsteelblue;	
        border: 0px;		
        border-radius: 8px;			
        pointer-events: none;			
    }
    
    </style>
  
  <body id= 'dataVisualizationBody'>
     <style> rect {fill: lightblue; stroke: black; }</style>
     
</svg>
</body>
<script>

    async function init() {

      var margin = {top: 80, right: 50, bottom: 50, left: 80},
      width = 1000 - margin.left - margin.right,
      height = 800 - margin.top - margin.bottom;

      // append the svg object to the body of the page
      var svg = d3.select("#dataVisualizationBody")
        .append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
        .append("g")
          .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");


      var data = await d3.csv('https://raw.githubusercontent.com/kirihar2/kirihar2.narrative.github.io/master/HPI_PO_monthly_hist%20with%20percent%20Monthly%20change.csv');
      console.log(data);
      const [dataValues] = d3.values(data)
      const keys = Object.keys(dataValues)
      console.log(keys);
      const monthField = keys[0];
      const homeValueField = keys[20];
      const homeValuePercentChange = keys[21];
      var date_format = d3.timeParse("%m/%d/%y");
      const housing_price_color = 'red';
      const housing_price_percent_change_color = 'blue';


      var x = d3.scaleTime()
        .domain(d3.extent(data, function(d) { return date_format(d['Month']); }))
        .range([ 0, width ]);
      svg.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x));

      // Add Y axis
   

      var MonthlyUSHousePrice = d3.scaleLinear()
        .domain([d3.min(data, function(d) { return +d['USA\n\n(SA)']; }), d3.max(data, function(d) { return +d['USA\n\n(SA)']; })])
        .range([ height, 0 ]);
      svg.append("g")
        .style('stroke', housing_price_color)
        .call(d3.axisLeft(MonthlyUSHousePrice));
      svg.append('g')
        .attr('transform', 'translate(-50,'+ height/2 + ')')
        .append('text')
        .attr('text-anchor', 'middle')
        .attr('transform', 'rotate(-90)')
        .style('fill', housing_price_color)
        .text("US (SA) Housing Price Index");

      var MonthlyPercentageDifference = d3.scaleLinear()
        .domain([d3.min(data, function(d) { return +d['USA\n\n(SA) Monthly % change']; }), d3.max(data, function(d) { return +d['USA\n\n(SA) Monthly % change']; })])
        .range([ height, 0 ]);
      svg.append("g")
        .attr('transform', "translate("+width+",0)")
        .style('stroke', housing_price_percent_change_color)
        .call(d3.axisRight(MonthlyPercentageDifference));
      svg.append('g')
        .attr('transform', 'translate(' + (width+40)+ ', ' + height/2 + ')')
        .append('text')
        .attr('text-anchor', 'middle')
        .attr('transform', 'rotate(-90)')
        .style('fill', housing_price_percent_change_color)
        .text("% change of Housing Price Index from last month");
       //Add the line
      svg.append("path")
        .datum(data.filter(function(v) { return v['Month'] !== null }))
        .attr("fill", "none")
        .attr("stroke", housing_price_percent_change_color)
        .attr("stroke-width", 1.5)
        .attr("d", d3.line()
          .x(function(d) { return x(date_format(d['Month'])) })
          .y(function(d) { return MonthlyPercentageDifference(d['USA\n\n(SA) Monthly % change']) })
          );
      svg.append("path")
        .datum(data.filter(function(v) { return v['Month'] !== null }))
        .attr("fill", "none")
        .attr("stroke", housing_price_color)
        .attr("stroke-width", 1.5)
        .attr("d", d3.line()
          .x(function(d) { return x(date_format(d['Month'])) })
          .y(function(d) { return MonthlyUSHousePrice(d['USA\n\n(SA)']) })
          );


          var div = d3.select("body").append("div")	
            .attr("class", "tooltip")	
            			
            .style("opacity", 0);
          svg.selectAll("dot")	
          .data(data)			
          .enter().append("circle")		
            .style('fill',housing_price_color)						
            .attr("r", 5)		
            .attr("cx", function(d) { return x(date_format(d['Month'])); })		 
            .attr("cy", function(d) { return MonthlyUSHousePrice(d['USA\n\n(SA)']); })		
            .on("mouseover", function(d) {		
                div.transition()		
                    .duration(200)		
                    .style("opacity", .9);		
                div.html(d['Month'] + "<br/>"  + d['USA\n\n(SA)'])	
                    .style("left", (d3.event.pageX-60) + "px")		
                    .style("top", (d3.event.pageY - 28) + "px");	
                })					
            .on("mouseout", function(d) {		
                div.transition()		
                    .duration(500)		
                    .style("opacity", 0)
                    .on('end',() => div.html(''));	
            });
    }

    init();
</script>
</html>
</html>
